footer {
  text-align: center;
  padding: 2.4rem;
  background: linear-gradient(135deg, #2966c2, #2865c2, #1e4b8f);
  color: white;
}

.container article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4.2rem;
}

footer section + section {
  border-top: 1px solid #fff4;
}

footer h3 {
  font-size: 1.8rem;
  margin-top: 1.6rem;
  text-shadow: 1px 1px 1px #0004;
}

.subscribe {
  padding: 0 2.4rem;
}

.subscribe h3 {
  margin-top: 2.4rem;
  font-size: 2rem;
}

.subscribe p {
  margin-top: 1.6rem;
  font-size: 1.4rem;
}

.subscribe form {
  margin-top: 2.4rem;
  font-size: 1.4rem;
  width: 100%;
  display: flex;
  gap: 0.8rem;
}

.subscribe form input[type="email"] {
  font-size: 1.4rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  border: none;
  flex: 1;
}

.subscribe form button {
  background: linear-gradient(#ffc44f, #cc9d3f);
  color: white;
  padding: 0.8rem;
  border-radius: 0.8rem;
  width: 10rem;
  font-weight: 500;
  font-size: 1.4rem;
  text-shadow: 1px 1px 1px #0004;
  transition: filter 200ms, scale 200ms;
}

.subscribe form button:hover {
  cursor: pointer;
  filter: brightness(1.05);
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
  padding: 2.4rem 0 0;
}

.contacts h3 {
  margin-bottom: 0.8rem;
}

.contacts p {
  font-size: 1.4rem;
}

.socialMedias {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.socialMedias a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  color: white;
  font-size: 1.4rem;
  border-bottom: 1.5px solid #0000;
}

.socialMedias a:hover {
  border-bottom: 1.5px solid #fff6;
}

.socialMedias .logo {
  max-width: 1.8rem;
}

.socialMedias .logo img {
  width: 100%;
}

.local {
  width: 100%;
  padding: 2.4rem;
}

.local iframe {
  width: 100%;
  margin-top: 1.6rem;
}

.local p {
  font-size: 1.4rem;
  margin-top: 0.8rem;
}

.help {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  font-size: 1.2rem;
}

.help a {
  color: white;
  border-bottom: 1px solid #fff6;
}

.copyright a {
  font-size: 1.6rem;
  margin-top: 3.2rem;
  background: #fff2;
  border-radius: 0.8rem;
  padding: 1.6rem;
  text-shadow: 1px 1px 1px #0004;
  display: block;
  color: white;
}

@media (min-width: 768px) {
  footer {
    padding: 3.2rem;
  }

  .container article {
    gap: 5.6rem;
  }

  footer section + section {
    border-top: 1.2px solid #fff4;
  }

  footer h3 {
    font-size: 2rem;
    margin-top: 1.8rem;
  }

  .subscribe {
    padding: 0 3.2rem;
  }

  .subscribe h3 {
    margin-top: 3.2rem;
    font-size: 2.4rem;
  }

  .subscribe p {
    margin-top: 2rem;
    font-size: 1.6rem;
  }

  .subscribe form {
    margin-top: 3.2rem;
    font-size: 1.6rem;
    gap: 1.2rem;
  }

  .subscribe form input[type="email"] {
    font-size: 1.6rem;
    padding: 1.2rem;
  }

  .subscribe form button {
    padding: 1.2rem;
    width: 12rem;
    font-size: 1.6rem;
  }

  .contacts {
    gap: 1.8rem;
    padding: 3.2rem 0 0;
  }

  .contacts h3 {
    margin-bottom: 1.2rem;
  }

  .contacts p {
    font-size: 1.6rem;
  }

  .socialMedias {
    gap: 4.2rem;
  }

  .socialMedias a {
    gap: 1.2rem;
    font-size: 1.6rem;
  }

  .socialMedias .logo {
    max-width: 2rem;
  }

  .local {
    padding: 3.2rem;
  }

  .local iframe {
    margin-top: 1.8rem;
    height: 28rem;
  }

  .local p {
    font-size: 1.6rem;
    margin-top: 1.2rem;
  }

  .help {
    gap: 3.2rem;
    font-size: 1.6rem;
  }

  .help a {
    border-bottom: 1.2px solid #fff6;
  }

  .copyright a {
    font-size: 1.8rem;
    margin-top: 4.2rem;
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  footer {
    padding: 4.2rem;
  }

  .container article {
    gap: 6.4rem;
  }

  footer section + section {
    border-top: 1.5px solid #fff4;
  }

  footer h3 {
    font-size: 2.8rem;
    margin-top: 2rem;
  }

  .subscribe h3 {
    margin-top: 3.2rem;
    font-size: 3.2rem;
  }

  .subscribe p {
    margin-top: 2rem;
    font-size: 1.8rem;
  }

  .subscribe form {
    margin-top: 3.2rem;
    font-size: 1.8rem;
    gap: 1.2rem;
  }

  .subscribe form input[type="email"] {
    font-size: 1.8rem;
    padding: 1.6rem;
  }

  .subscribe form button {
    padding: 1.6rem;
    width: 16rem;
    font-size: 1.8rem;
  }

  .contacts {
    gap: 1.8rem;
    padding: 3.2rem 0 0;
  }

  .contacts h3 {
    margin-bottom: 1.6rem;
  }

  .contacts p {
    font-size: 1.8rem;
  }

  .contact strong {
    font-size: 1.8rem;
  }

  .socialMedias {
    gap: 4.2rem;
  }

  .socialMedias a {
    gap: 1.2rem;
    font-size: 2rem;
  }

  .socialMedias .logo {
    max-width: 2.4rem;
  }

  .local {
    padding: 4.2rem;
  }

  .local iframe {
    margin-top: 2rem;
    height: 32rem;
  }

  .local p {
    font-size: 1.8rem;
    margin-top: 1.6rem;
  }

  .help {
    gap: 3.2rem;
    font-size: 1.8rem;
  }

  .help a {
    border-bottom: 1.5px solid #fff6;
  }

  .copyright a {
    font-size: 2rem;
    margin-top: 5.6rem;
    padding: 2.4rem;
  }
}
