header {
  width: 100%;
  padding: 1.6rem 1.6rem 0;
  background: linear-gradient(315deg, #2966c2, #2865c2, #1e4b8f);
  color: white;
}

.boxMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff4;
  animation: slideTopDown 1s;
}

.imageLogo {
  width: 4.2rem;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;
}

nav a {
  color: white;
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px #0002;
  padding: 0.8rem;
  border-radius: 0.8rem;
}

nav a:hover {
  background: #fff2;
}

.ContainerSlogan {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.2rem;
}

.boxSlogan {
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.6rem;
}

.boxSlogan h1 {
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 1px 1px 2px #0002;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s 1s steps(25) both;
}

.boxSlogan p {
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px #0002;
  animation: fadeIn 1s;
}

.boxSlogan button {
  padding: 0.6rem;
  border-radius: 1.2rem;
  width: 10rem;
  background: linear-gradient(#ffc44f, #cc9d3f);
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px #0004;
  box-shadow: 1px 1px 2px #0002;
  transition: filter 200ms, scale 200ms;
  animation: pulse 1s 3.6s;
}

.boxSlogan button:hover {
  cursor: pointer;
  filter: brightness(1.05);
  scale: 1.01;
}

.boxImageSaleswoman img {
  width: 14rem;
  animation: slideRightLeft 1s;
}

@media (min-width: 768px) {
  .boxMenu {
    border-bottom: 1.25px solid #fff4;
  }

  header {
    padding: 2.4rem 2.4rem 0;
  }

  .imageLogo {
    width: 5.6rem;
  }

  nav ul {
    gap: 1.6rem;
  }

  nav a {
    font-size: 1.6rem;
  }

  .ContainerSlogan {
    margin-top: 1.6rem;
  }

  .boxSlogan {
    max-width: 48rem;
    gap: 2rem;
  }

  .boxSlogan h1 {
    font-size: 2.4rem;
    animation: typing 4s 1s steps(35) both;
  }

  .boxSlogan p {
    font-size: 1.6rem;
  }

  .boxSlogan button {
    padding: 0.8rem;
    width: 14rem;
    font-size: 1.6rem;
    animation: pulse 1s 3.1s;
  }

  .boxImageSaleswoman img {
    width: 18rem;
  }
}

@media (min-width: 1024px) {
  .boxMenu {
    border-bottom: 1.5px solid #fff4;
  }

  .imageLogo {
    width: 7.2rem;
  }

  nav ul {
    gap: 2rem;
  }

  nav a {
    font-size: 2rem;
  }

  .ContainerSlogan {
    margin-top: 2rem;
  }

  .boxSlogan {
    max-width: 64rem;
    gap: 2.4rem;
  }

  .boxSlogan h1 {
    font-size: 3.2rem;
    animation: typing 5s 1s steps(35) both;
  }

  .boxSlogan p {
    font-size: 2rem;
  }

  .boxSlogan button {
    padding: 1rem;
    width: 18rem;
    font-size: 2rem;
    animation: pulse 1s 3.5s;
  }

  .boxImageSaleswoman img {
    width: 24rem;
  }
}
