header {
  width: 100%;
  padding: 1.6rem 1.6rem 0;
  background: linear-gradient(315deg, #2966c2, #2865c2, #1e4b8f);
  color: white;
}

.boxMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff4;
}

.imageLogo {
  width: 4.2rem;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}

nav a {
  color: white;
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px #0002;
}

.ContainerSlogan {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.2rem;
}

.boxSlogan {
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.6rem;
}

.boxSlogan h1 {
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 1px 1px 2px #0002;
}

.boxSlogan p {
  font-size: 1.4rem;
}

.boxSlogan button {
  padding: 0.4rem;
  border-radius: 1.2rem;
  width: 10rem;
  background: #ffc44f;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px #0004;
  box-shadow: 1px 1px 2px #0002;
}

.boxImageSaleswoman img {
  width: 12rem;
}
